<?xml version="1.0" encoding="UTF-8"?>

<suite name="Suite">

    <listeners>
        <listener class-name="utils.ExtentTestListener"/>
    </listeners>

    <test name="Test" thread-count="5">
        <classes>
            <class name="cafeOrderFlowTest.NewUserOrderFlowTest"/>
        </classes>
    </test>

</suite>
